:root {
    --nav: #111827;
    --navText: #ffffff;
    --background: #91C0D7;
    --sectionBackground: #d1eaf9;
    --divBackground: #fff; 
    --primary: #38B6FF; 
    --action: #38B6FF; 
    --text: #000;   
}
